.center{
	text-align: center;
	margin: 0 auto;
	width: 80%;
}
.topMargin{
	margin-top: 2rem;
}
.hidden{
	display: none;
}
span:div{
	display: inline;
}
span:hover, span:active {
  box-shadow: inset 0 0 10px #(color of the glow you want);
}
