.center{
	text-align: center;
	margin: 0 auto;
}
.topMargin{
	margin-top: 2rem;
}
.hidden{
	display: none;
}
span:div{
	display: inline;
	font-size:16px;
	color:#FFF;
      transition: all 0.3s ease-in;
      text-decoration:none;
}
span:hover, span:active {
  -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px blue;
}
